# NeuralCoref
/neuralcoref/train/runs/*
/models/
/neuralcoref/train/data/
/data/
/lsd/*
neuralcoref/reference-coreference-scorers-8.01/*
neuralcoref/reference-coreference-scorers-8.01.zip
.idea/
zh_core_web_sm-2.0.5.tar.gz
lsd.zip
# Cython / C extensions
cythonize.json
neuralcoref/*.html
*.cpp
*.so

# Vim / VSCode / editors
*.swp
*.sw*
Profile.prof
.vscode
.sass-cache

# Python
/.Python
.python-version
__pycache__/
*.py[cod]
.env/
.env*
.~env/
.venv
venv/
.dev
.denv
.pypyenv

# Temporary files
*.~*
tmp/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.eggs
MANIFEST

# Windows
*.bat
Thumbs.db
Desktop.ini

# Mac OS X
*.DS_Store
